<a href="https://colab.research.google.com/github/sneraikar/Yes-Bank-Stock-prediction/blob/main/Yes_Bank_Stock_closing_Price_Prediction(Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Title : "Yes Bank Stock Closing Price Prediction - Supervised ML Regression"**

**Problem Statement**

> Yes Bank is a well-known bank in the Indian financial domain.Since 2018,it has been in the news because of the fraud case involving Rana Kapoor.Owing to this fact,it was interesting to see how that impacted the stock prices of the company and whether Time series models or any other predictive models can do justice to such situations.This dataset has monthly stock prices of the bank since its inception and includes closing,starting,highest and lowest stock prices of every month.The main objective is to predict the stock's closing price of the month.

**Solution**

Stock market analysis is categorised into two parts: Fundamental and Technical Analysis.
>**Fundamental Analysis** : It is about analysing the company's future profitability based on its current business conditions.
>**Technical Analysis** : It includes reading the charts and using statistical figures to identify the trends in the stock market.

>In this project we are referring to Technical analysis.

**First and foremost import all necessary libraries**

In [9]:
#Import all necessary libraries for the project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression,Ridge,Lasso

**Mouting drive and reading given csv file**

In [10]:
#mount drive to colab notebook
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
#read datset using pandas function
file_path="/content/drive/MyDrive/Supervised ML - Regression/"
df=pd.read_csv(file_path+"data_YesBank_StockPrices.csv")

**Make a copy of the datset**

In [15]:
#create a backup of the data incase of loss of data
df_backup=df.copy()
df_backup.head(4)

     Date   Open   High    Low  Close
0  Jul-05  13.00  14.00  11.25  12.46
1  Aug-05  12.58  14.88  12.55  13.42
2  Sep-05  13.48  14.87  12.27  13.30
3  Oct-05  13.20  14.47  12.40  12.99

**First 5 observations of dataset**

In [18]:
#to print five observations from the top
df.head(5)

     Date   Open   High    Low  Close
0  Jul-05  13.00  14.00  11.25  12.46
1  Aug-05  12.58  14.88  12.55  13.42
2  Sep-05  13.48  14.87  12.27  13.30
3  Oct-05  13.20  14.47  12.40  12.99
4  Nov-05  13.35  13.88  12.88  13.41

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    185 non-null    object
 1   Open    185 non-null    float64
 2   High    185 non-null    float64
 3   Low     185 non-null    float64
 4   Close   185 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.4+ KB

In [20]:
df.describe()

             Open        High         Low       Close
count  185.000000  185.000000  185.000000  185.000000
mean   105.541405  116.104324   94.947838  105.204703
std     98.879850  106.333497   91.219415   98.583153
min     10.000000   11.240000    5.550000    9.980000
25%     33.800000   36.140000   28.510000   33.450000
50%     62.980000   72.550000   58.000000   62.540000
75%    153.000000  169.190000  138.350000  153.300000
max    369.950000  404.000000  345.500000  367.900000